.login{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url("https://img.freepik.com/free-photo/digital-painting-mountain-with-colorful-tree-foreground_1340-25699.jpg?t=st=1691680748~exp=1691684348~hmac=b9bf83a6054e8b3a38b873d4ad3f28035e08ebbdeb7d5cc2f60f7299b1a2664a&w=1380"); */
    background-size:cover;
    
    

}

.loginTitle{
    font-size: 50px;
    
}

.loginForm{
    margin-top: 20px;
    display:flex;
    flex-direction: column;
    font-size: 30px;
    

}

.loginForm >label{
    /* top and bottom 10px, right and left 0px. */
    margin: 10px 0;
}

.loginInput{
    padding: 10px;
    background-color: white;
    border: none;
    font-size: 20px;

}

.loginButton{
    margin-top: 20px;
    cursor:pointer;
    background-color: lightcoral;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
}

.loginButton:disabled{
    cursor: not-allowed;
    background-color: coral;
}

.loginRegisterButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: teal;
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    
}
@media screen and (min-width: 1143px) {
    .loginRegisterButton {
      display: none;
    }
  }
  