.singlePost {
    flex: 9;
  }
  
  .singlePostWrapper {
    padding: 20px;
    padding-right: 20px;
    /* display: flex;
    flex-direction: column; */
    
  }
  
  .singlePostImg {
    display: block;
    margin: 0 auto; /* Center the image horizontally */
    max-width: 600px;
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
  }
  
  .singlePostTitle {
    text-align: center;
    margin: 10px;
    font-family: "Lora", serif;
    font-size: 28px;
  }
  
  .singlePostTitleInput {
    margin: 10px;
    font-family: "Lora", serif;
    font-size: 28px;
    text-align: center;
    border: none;
    color: gray;
    border-bottom: 1px solid lightgray;
  }
  
  .singlePostTitleInput:focus {
    outline: none;
  }
  
  .singlePostEdit {
    float: right;
    font-size: 16px;
  }
  
  .singlePostIcon {
    margin-left: 10px;
    cursor: pointer;
  }
  
  .singlePostIcon:first-child {
    color: teal;
  }
  
  .singlePostIcon:last-child {
    color: tomato;
  }
  
  .singlePostInfo {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-family: "Varela Round", sans-serif;
    color: #b39656;
  }
  
  .singlePostDesc {
    color: #666;
    font-size: 18px;
    line-height: 25px;
    word-wrap: break-word; /* Allow long words to break and wrap */
    overflow: hidden; /* Hide any overflowing content */
    max-width: 1750px; /* Set a maximum width for larger screens */
    /* text-align: center; */
  }
  
  
  .singlePostDesc::first-letter {
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
  }
  
  .singlePostDescInput {
    border: none;
    color: #666;
    font-size: 18px;
    line-height: 25px;
    width: 100%; /* Set width to 100% for full width */
    max-width: none; /* Remove any max-width constraints */
    height: 600px;
  }
  
  .singlePostDescInput:focus {
    outline: none;
    width:500px;
  }
  .singlePostButton {
    width: 100px;
    border: none;
    background-color: teal;
    padding: 5px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
    margin-top: 20px;
  }




  @media (max-width: 1800px) {
    .singlePostDesc {
      max-width: 1600px; /* Adjust the maximum width for medium-sized screens */
    }
  }
  @media (max-width: 1550px) {
    .singlePostDesc {
      max-width: 1400px; /* Adjust the maximum width for smaller screens */
    }
  }
  @media (max-width: 1500px) {
    .singlePostDesc {
      max-width: 1300px; /* Adjust the maximum width for smaller screens */
    }
  }
  @media (max-width: 1350px) {
    .singlePostDesc {
      max-width: 1250px; /* Adjust the maximum width for smaller screens */
    }
  }
  @media (max-width: 1280px) {
    .singlePostDesc {
      max-width: 1200px; /* Adjust the maximum width for smaller screens */
    }
  }
  @media (max-width: 1225px) {
    .singlePostDesc {
      max-width: 1150px; /* Adjust the maximum width for smaller screens */
    }
  }
  @media (max-width: 1225px) {
    .singlePostDesc {
      max-width: 1150px; /* Adjust the maximum width for smaller screens */
    }
  }
  @media (max-width: 1180px) {
    .singlePostDesc {
      max-width: 1130px; /* Adjust the maximum width for smaller screens */
    }
  }
  @media (max-width: 1150px) {
    .singlePostDesc {
      max-width: 1050px; /* Adjust the maximum width for smaller screens */
    }
  }
  @media (max-width: 1080px) {
    .singlePostDesc {
      max-width: 900px; /* Adjust the maximum width for smaller screens */
    }
  }
  @media (max-width: 950px) {
    .singlePostDesc {
      max-width: 800px; /* Adjust the maximum width for smaller screens */
    }
  }
  @media (max-width: 850px) {
    .singlePostDesc {
      max-width: 700px; /* Adjust the maximum width for smaller screens */
    }
  }
  @media (max-width: 750px) {
    .singlePostDesc {
      max-width: 600px; /* Adjust the maximum width for smaller screens */
    }
  }
  @media (max-width: 650px) {
    .singlePostDesc {
      max-width: 500px; /* Adjust the maximum width for smaller screens */
    }
  }
  @media (max-width: 550px) {
    .singlePostDesc {
      max-width: 400px; /* Adjust the maximum width for smaller screens */
    }
  }
  @media (max-width: 450px) {
    .singlePostDesc {
      max-width: 300px; /* Adjust the maximum width for smaller screens */
    }
  }
  @media (max-width: 350px) {
    .singlePostDesc {
      max-width: 200px; /* Adjust the maximum width for smaller screens */
    }
  }





/* 
FONT FAMILIES.
font-family: 'Josefin Sans', sans-serif;
font-family: 'Lora', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Varela', sans-serif;
font-family: 'Varela Round', sans-serif; 
*/